h1 {
  background: rgb(124, 185, 232);
  border-color: blue;
  border-width: 10px;
  border-style: solid;

  border:10px solid blue;

  border:5px dashed blue;
}

body {
  background: rgb(201, 255, 229);
}

body {
  background: url(https://th.bing.com/th/id/OIP.AOi_y8_XdSfIZfwzw7mjWwHaE5?pid=ImgDet&rs=1);
  background-repeat: no-repeat;
  background-size: cover;

}
